#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.update-page {
  top: 30px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
